<%= form_with model: [:profile, @couple] do |form| %>
  <%= form.hidden_field :creator_id, value: current_user&.id %>
  <%= form.hidden_field :profile1_id, value: params[:profile_id] %>
  <div class="w-full lg:w-1/2 flex flex-col justify-between items-center my-5">
    <%= form.select :profile2_id,
                    profile_search_options(excluded_id: params[:profile_id], default_id: @couple.profile2_id),
                    {},
                    { class: 'rounded',
                      data: { controller: 'slim-select' } }%>
    <p class="my-5"><%= t('or') %></p>
    <%= link_to t('profiles.new'), new_profile_path(coupled_with: params[:profile_id]), class: "ml-2" %>
  </div>
  <div class="actions">
    <%= form.submit t('submit'), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
  </div>
<% end %>
