<% if can? :manage, Couple %>
  <div class="text-right">
    <%= render layout: 'shared/dropdown_options', locals: { is_default_visible: false, is_left: false, is_top: true, is_listening_to_click: true } do %>
      <%= link_to t('couples.new'), new_profile_couple_path(profile_id: params[:profile_id]), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
    <% end %>
  </div>
<% end %>

<div class="mt-8">
  <ul>
    <% if @couples.count.zero? %>
      <p><%= t('couples.not_found') %></p>
    <% else %>
      <% @couples.each do |couple| %>
        <li class="py-2">
          <div class="flex items-center">
            <div class="flex w-full">
              <%= partners_links(couple) %>
            </div>

            <%= render layout: 'shared/dropdown_options', locals: { is_default_visible: false, is_left: false, is_top: true, is_listening_to_click: true } do %>
              <%= link_to t('children.new'), new_profile_path(couple_id: couple.id, profile_id: nil), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1'  %>
              <%#= link_to t('edit'), edit_profile_couple_path(couple), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
              <%= button_to t('delete'), couple_path(couple), method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
