<%= form_with model: @profile do |form| %>
  <%= form.hidden_field :creator_id, value: current_user&.id %>
  <div class="relative my-4 border-b-2 focus-within:border-blue-500">
    <%= form.text_field :pseudo , class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " "%>
    <%= form.label :pseudo, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
  </div>
  <div class="flex flex-wrap my-8 ">
    <div class="my-4 md:my-0 flex flex-grow relative border-b-2 focus-within:border-blue-500">
        <%= form.text_field :first_name, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
        <%= form.label :first_name, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
        <%= form.select :first_name_privacy, profile_privacy_options, {} %>
    </div>
    <div class="my-4 md:my-0 flex flex-grow relative border-b-2 focus-within:border-blue-500">
      <%= form.text_field :last_name, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
      <%= form.label :last_name, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
      <%= form.select :last_name_privacy, profile_privacy_options, {} %>
    </div>
  </div>
  <div class="flex flex-wrap my-8 ">
    <div class="my-4 md:my-0 flex flex-grow relative border-b-2 focus-within:border-blue-500">
      <%= form.text_field :email, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
      <%= form.label :email, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
      <%= form.select :email_privacy, profile_privacy_options, {} %>
    </div>
    <div class="my-4 md:my-0 flex flex-grow relative border-b-2 focus-within:border-blue-500">
      <%= form.text_field :phone, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
      <%= form.label :phone, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
      <%= form.select :phone_privacy, profile_privacy_options, {} %>
    </div>
  </div>
  <div class="flex relative my-8 border-b-2 focus-within:border-blue-500">
    <%= form.date_field :birth_date, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
    <%= form.label :birth_date, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
    <%= form.select :birth_date_privacy, profile_privacy_options, {} %>
  </div>
  <%# <div class="flex"> %>
    <%# <div class="flex-grow relative border-b-2 focus-within:border-blue-500"> %>
      <%#= form.text_field :tiktok_url, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
      <%#= form.label :tiktok_url, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
    <%# </div> %>
    <%# <div class="flex-grow relative border-b-2 focus-within:border-blue-500"> %>
      <%#= form.text_field :twitter_url, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
      <%#= form.label :twitter_url, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
    <%# </div> %>
    <%# <div class="flex-grow relative border-b-2 focus-within:border-blue-500"> %>
      <%#= form.text_field :linkedin_url, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
      <%#= form.label :linkedin_url, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
    <%# </div> %>
  <%# </div> %>
  <div class="relative my-8 border-b-2 focus-within:border-blue-500">
    <%= form.text_area :notes, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
    <%= form.label :notes, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
  </div>
  <div class="relative my-8 focus-within:border-blue-500">
    <%= form.label :parents_id, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
    <%= form.select :parents_id, profile_parents_options, {} %>
  </div>
  <div class="actions">
    <%= form.submit t('submit'), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
  </div>
<% end %>
