<div class="pt-5 relative" data-controller="remove">
  <div class="p-5" style="width: fit-content">
    <% if profile.parents_id %>
      <div id="profile_parents" class="border rounded mb-2 p-2">
        <div class="flex justify-between items-center">
          <b class="py-5 mr-4">
            Parents
          </b>
        </div>
        <ul>
          <li class="flex items-center justify-between py-2">
            <%= child_of(profile.parents) %>
          </li>
        </ul>
      </div>
    <% end %>

    <div id="profile_couples" class="border rounded p-2 mb-2">
      <div class="flex justify-between items-center">
        <b class="py-5 mr-4">
          Spouses
        </b>
        <% if can? :manage, profile %>
          <%= render layout: 'shared/options', locals: { page_header: false } do %>
            <%= link_to t('couples.create_new'), new_couple_path(profile_id: params[:id]), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
          <% end %>
        <% end %>
      </div>

      <ul>
        <% couples.each do |couple| %>
          <li class="flex items-center justify-between py-2">
            <div class="flex w-full mr-4">
              <%= other_partner_link(couple, profile) %>
            </div>

            <%= render layout: 'shared/options', locals: { page_header: false } do %>
              <%= link_to t('children.create_new'), new_profile_path(couple_id: couple.id, profile_id: params[:id]), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1'  %>
              <%= link_to t('edit'), edit_couple_path(couple, profile_id: params[:id]), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
              <%= button_to t('delete'), couple_path(couple), method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="profile_children" class="border rounded p-2">
      <div class="flex justify-between items-center">
        <b class="py-5 mr-4">
          Children
        </b>
        <% if can? :manage, profile %>
          <%= render layout: 'shared/options', locals: { page_header: false } do %>
            <% if couples.count.positive? %>
                <% couples.each do |couple| %>
                  <%= link_to t('children.create_new_for', couple_designation: couple.designation), new_profile_path(profile_id: params[:id], couple_id: couple.id), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
                <% end %>
            <% else %>
              <%= link_to 'Create relationship first', new_couple_path(profile_id: params[:id]), class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <ul>
        <% children.each do |child| %>
          <li class="flex items-center justify-between py-2">
            <%= link_to child.designation, profile_path(child) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% unless params['controller'] == 'profiles' %>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6" role="button" xmlns="" viewBox="0 0 20 20" data-action="click->remove#proceed">
        <title>Close</title>
        <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
      </svg>
    </span>
  <% end %>
</div>
