<div class="search">
  <%= form_with url: search_url, method: :get do |form| %>
    <div class="flex flex-wrap justify-center items-center">
      <div class="relative my-4 border-b-2 focus-within:border-blue-500">
        <%= form.text_field :search, value: params[:search], class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder: " " %>
        <%= form.label :search, t('search_a_profile'), class: 'absolute top-0 -z-1 duration-300 origin-0' %>
      </div>
      <% if filter %>
        <%= turbo_frame_tag 'filter' do %>
          <div class="w-full flex lg:block justify-between items-center">
            <div class="ml-5 my-4 text-xs text-blue-500 flex justify-center items-center">
              <%= link_to t('advanced_filter'), filter_url, data: { turbo: true } %>
            </div>
            <div class="ml-5 my-4">
              <%= form.submit t('filter') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
