<div class="flex justify-between">
  <%= render 'search', filter: false,
                       search_url: profile_birthdays_path %>
</div>
<% if @birthdays_data.count.zero? %>
  <p><%= t('birthdays.not_found') %></p>
<% else %>
  <% @birthdays_data.each do |birthday_datum| %>
    <h1 class="text-xl py-2 text-gray-500"><%= Date::MONTHNAMES[birthday_datum[0]] %></h1>
    <% birthday_datum[1].each do |birthday| %>
      <p>
        <%= link_to profile_path(birthday[:id]) do %>
          <%= birthday[:name] %>
        <% end %>
        - <%= l birthday[:date], format: :fr_long %>
        - <%= birthday[:age] %> years old in <%= (birthday[:date] - Date.today).to_i %> days
      </p>
    <% end %>
  <% end %>
<% end %>
