<div class="flex flex-wrap justify-between mb-5">
  <%= render 'search', filter: true,
                       search_url: profiles_path,
                       filter_url: new_profile_filter_path(search: params[:search],
                                                           category: params[:category],
                                                           gender: params[:gender],
                                                           birthday: params[:birthday]) %>
  <div class="lg:w-auto w-full flex flex-wrap justify-between items-center">
    <div class="mb-5 mr-2 text-sm">
      <%= @profile_ids.count %> profiles
    </div>
    <div class="mb-5">
      <%= render layout: 'shared/dropdown_options', locals: { is_default_visible: false, is_left: false, is_top: true, is_listening_to_click: true } do %>
        <%= link_to t('profiles.new'), new_profile_path, class: 'w-full text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
        <%= button_to t('profiles.export_option'), profile_exports_path, method: :post, params: { profile_ids: @profile_ids }, class: 'w-full text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
        <%= turbo_frame_tag :import do %>
          <%= link_to t('profiles.import_option'), new_profile_import_path, class: 'w-full text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<ul>
  <% if @profiles.count.zero? %>
    <p><%= t('profiles.not_found') %></p>
  <% else %>
    <%= turbo_frame_tag :profiles do %>
      <% @profiles.each do |profile| %>
        <li>
          <%= render 'card', profile: profile %>
        </li>
      <% end %>
      <% if @pagy.next %>
        <%= turbo_frame_tag :profiles, loading: :lazy, src: url_for(only_path: false, params: { page: @pagy.next }.merge(request.query_parameters.except(:page))) do %>
          <div class="spinner-container">
            <i class="fas fa-circle-notch fa-spin"></i>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>
