<% if can? :manage, @profile %>
  <div class="text-right"
       data-controller="clipboard"
       data-clipboard-target-value="#token-url">
    <%= render layout: 'shared/dropdown_options', locals: { page_header: true } do %>
      <%= link_to t('edit'), edit_profile_path, method: :get, class: 'text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
      <%= button_to t('profiles.share_link'), shared_links_path, method: :post, id: 'token-url', data: { 'clipboard-text': @tokenized_url }, class: 'w-full text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
      <%= link_to t('couples.new'), new_profile_couple_path(profile_id: params[:id]), method: :get, class: 'text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1'%>
      <%= button_to t('delete'), profile_path, method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } }, class: 'text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
    <% end %>
  </div>
<% end %>

<div class="flex flex-col items-center justify-center">
  <% if @profile.photo.attached? %>
    <%= cl_image_tag @profile.photo.key, height: 200, width: 200, crop: :fill %>
  <% elsif @profile.photo_url.present? %>
    <%= image_tag @profile.photo_url, height: 200, width: 200, crop: :fill %>
  <% end %>
  <h1 class="text-xl"><%= @profile.full_designation %></h1>
</div>

<div class="flex justify-between flex-wrap">
  <div>
    <div class="py-2">
      <span class="text-xs"><%= t('category', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.category %>
    </div>
    <div class="py-2">
      <span class="text-xs"><%= t('pseudo', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.pseudo %>
    </div>
    <div class="py-2">
      <span class="text-xs"><%= t('first_name', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.first_name %>
    </div>
    <div class="py-2">
      <span class="text-xs"><%= t('last_name', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.last_name %>
    </div>
    <div class="py-2">
      <span class="text-xs"><%= t('email', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.email %>
    </div>
    <div class="py-2">
      <span class="text-xs"><%= t('phone', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.phone %>
    </div>
    <div class="py-2">
      <span class="text-xs"><%= t('gender', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.gender %>
    </div>

    <% if @profile.birth_date %>
      <div class="py-2">
        <span class="text-xs">Age:</span> <%= @profile.age %>
      </div>
      <div class="flex items-center justify-start">
        <span class="text-xs"><%= t('birth_date', scope: 'activerecord.attributes.profile') %>:</span> <%= l @profile.birth_date, format: :fr_short %>
        <%= link_to create_google_calendar_birthday(@profile), target: '_blank', class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white mx-2 py-2 px-4 border border-blue-500 hover:border-transparent rounded mr-2 mb-2' do %>
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <p class="ml-1">Google Calendar</p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if false %>
      <% if @profile.wedding_date %>
        <div class="flex items-center justify-start">
          <span class="text-xs"><%= t('wedding_date', scope: 'activerecord.attributes.profile') %>:</span> <%= l @profile.wedding_date, format: :fr_long %>
          <%= link_to create_google_calendar_wedding_anniversary(@profile), target: '_blank', class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white mx-2 py-2 px-4 border border-blue-500 hover:border-transparent rounded mr-2 mb-2' do %>
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
              <p class="ml-1">Google Calendar</p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="py-2">
      <span class="text-xs"><%= t('notes', scope: 'activerecord.attributes.profile') %>:</span> <%= @profile.notes %>
    </div>

    <%#= t('tiktok_url', scope: 'activerecord.attributes.profile') %> <%#= @profile.tiktok_url %> <br>
    <%#= t('twitter_url', scope: 'activerecord.attributes.profile') %> <%#= @profile.twitter_url %> <br>
    <%#= t('linkedin_url', scope: 'activerecord.attributes.profile') %> <%#= @profile.linkedin_url %> <br>

  </div>

  <% if can? :manage, @profile %>
    <%= render 'profiles/outline', profile: @profile, couples: @couples, children: @children %>
  <% end %>
</div>
