<h2><%= t('sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: TailwindBuilder) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <br />
  <div class="relative my-8 border-b-2 focus-within:border-blue-500">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " " %>
    <%= f.label :email %>
  </div>

  <% password_label = "password" %>
  <% password_label = password_label + " (#{@minimum_password_length} characters minimum)" if @minimum_password_length %>
  <div class="relative my-8 border-b-2 focus-within:border-blue-500">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: " " %>
    <%= f.label :password, value: password_label %>
  </div>

  <div class="relative my-8 border-b-2 focus-within:border-blue-500">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " " %>
    <%= f.label :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t('sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
