<div class="absolute left-0 bottom-0"
     data-controller="clipboard tree-option"
     data-clipboard-target-value="#token-url">
  <%= render layout: 'shared/dropdown_options', locals: { is_default_visible: true, is_left: true, is_top: false, is_listening_to_click: false } do %>
    <%= button_to t('families.share_link'), shared_links_path, method: :post, id: 'token-url', data: { 'clipboard-text': @tokenized_url }, class: 'text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
    <% %w[couple_status deceased gender].each do |option| %>
      <label class="switch px-4 py-2 flex justify-between items-center" data-action="click->tree-option#toggle" data-option="show<%= option.camelize %>">
        <span class="w-full text-xs text-left" id="show-<%= option %>">
          <span class=" text-gray-900"><%= t("outlines.options.show_#{option}") %></span>
        </span>
        <input type="checkbox" role="switch" aria-checked="false" aria-labelledby="show-<%= option %>" <%= 'checked' if option == 'couple_status' %>>
        <span class="slider round"></span>
      </label>
    <% end %>
    <%#= link_to 'Show deceased', '#', class: 'w-full text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
    <%#= link_to 'Show gender', '#', class: 'w-full text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
    <%#= link_to 'hello', '/', class: 'w-full text-left text-gray-700 block px-4 py-2 text-xs', role:'menuitem', tabindex:'-1' %>
  <% end %>
</div>
