<%= render layout: 'shared/outline_card' do %>
  <div class="flex items-center justify-between py-1 px-2">
    <p class="mr-4"><%= profile.designation %></p>
    <% if can? :manage, profile %>
      <%= render layout: 'shared/dropdown_options', locals: { default_visible: false } do %>
        <%= link_to t('profiles.edit'), edit_outlines_profile_path(profile), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
        <%= link_to t('profiles.edit_advanced'), edit_profile_path(profile), target: '_top', class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
        <% if params[:outline_id] != params[:id] %>
          <%= button_to t('delete'), outlines_profile_path(params[:outline_id], profile_id: params[:id]), method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if display_section?(profile, profile.parents_profiles) %>
    <div class="mb-2 p-2">
      <div class="flex justify-between items-center">
        <b class="py-5 mr-4">
          <%= t('parents.title') %>
        </b>
        <% if can? :manage, profile %>
          <% if profile.parents_id.nil? %>
            <%= render layout: 'shared/dropdown_options', locals: { default_visible: false } do %>
              <%= link_to t('parents.new'), new_outlines_profile_parent_path(profile), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <ul>
        <% profile.parents_profiles.each do |parent| %>
          <li class="flex items-center justify-between py-1">
            <%= parent.designation %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if display_section?(profile, couples) %>
    <div class="p-2 mb-2">
      <div class="flex justify-between items-center">
        <b class="py-5 mr-4">
          <%= t('couples.title') %>
        </b>
        <% if can? :manage, profile %>
          <%= render layout: 'shared/dropdown_options', locals: { default_visible: false } do %>
            <%= link_to t('couples.new'), new_outlines_profile_path(coupled_with: profile.id), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
          <% end %>
        <% end %>
      </div>

      <ul>
        <% couples.each do |couple| %>
          <% partner = couple.other_partner_designation(profile) %>
          <li class="flex items-center justify-between py-1">
            <div class="flex w-full mr-4">
              <%= partner %>
            </div>
            <% if can? :manage, profile %>
              <%= render layout: 'shared/dropdown_options', locals: { default_visible: false } do %>
                <%= link_to t('children.new'), new_outlines_profile_path(couple_id: couple.id), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1'  %>
                <%= button_to t('couples.delete', partner: partner), outlines_profile_couple_path(couple, profile_id: profile), method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if display_section?(profile, children) %>
    <div class="p-2 mb-2">
      <div class="flex justify-between items-center">
        <b class="py-5 mr-4">
          <%= t('children.title') %>
        </b>
        <% if can? :manage, profile %>
          <%= render layout: 'shared/dropdown_options', locals: { default_visible: false } do %>
            <% if couples.count.positive? %>
                <% couples.each do |couple| %>
                  <%= link_to t('children.new_for', couple_designation: couple.designation), new_outlines_profile_path(couple_id: couple.id), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
                <% end %>
            <% else %>
              <%= link_to t('children.no_couple'), new_outlines_profile_path(coupled_with: profile.id), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 text-sm py-2', role:'menuitem', tabindex:'-1' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <ul>
        <% children.each do |child| %>
          <li class="flex items-center justify-between py-1">
            <%= child.designation %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if display_section?(profile, profile.parents&.siblings_of(profile)) %>
    <div class="p-2">
      <div class="flex justify-between items-center">
        <b class="py-2 mr-4">
          <%= t('siblings.title') %>
        </b>
        <% if can? :manage, profile %>
          <% if profile.parents_id %>
            <%= render layout: 'shared/dropdown_options', locals: { default_visible: false } do %>
              <%= link_to t('siblings.new'), new_outlines_profile_path(couple_id: profile.parents_id), data: { turbo_stream: true }, class: 'text-left text-gray-700 block px-4 py-2 text-sm', role:'menuitem', tabindex:'-1' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <ul>
        <% profile.parents&.siblings_of(profile)&.each do |sibling| %>
          <li class="flex items-center justify-between py-2">
            <%= link_to sibling.designation, profile_path(sibling) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
