<%#= form_with path: tree_families_path, method: :post, local: true, data: { turbo: true, turbo_frame: '', controller: '' } do |form| %>
  <%#= form.select :family_profile_id, couple_profile_options(params[:profile_id]), {} %>
  <%#= form.submit t('submit'), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
<%# end %>
<%= turbo_frame_tag :family_tree do %>
  <div class="relative h-full">
    <%= turbo_frame_tag :tree, src: tokenized_url('tree', profile_id: params[:profile_id]) do %>
      <div class="flex justify-center items-center mt-2">
        <svg class="h-1/2 w-1/2 text-sm fill-neutral-200 animate-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M304 48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zm0 416c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM48 304c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm464-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM142.9 437c18.7-18.7 18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zm0-294.2c18.7-18.7 18.7-49.1 0-67.9S93.7 56.2 75 75s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zM369.1 437c18.7 18.7 49.1 18.7 67.9 0s18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9z"/></svg>
      </div>
    <% end %>

    <div class="border absolute right-0 top-0 bg-white">
      <%= turbo_frame_tag :outline do %>
      <% end %>
    </div>

    <%= form_with url: outline_path, method: :post, html: { id: 'tree-interaction-form' }, data: { controller: 'form' } do |form| %>
      <%= form.text_field :id, id: 'tree-interaction-id' %>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
