<div class="relative h-full">
  <%= turbo_frame_tag :tree,
        data: {
          'degraded-mode': "off",
          'degraded-mode': "off",
          'show-couple_status': "on",
          'show-gender': "off",
          'show-deceased': "off"
        },
        src: tokenized_url('tree', profile_id: params[:profile_id]) do %>
    <%= render partial: 'shared/spinner' %>
  <% end %>

  <% if can? :manage, @profile %>
    <%= render 'options' %>
  <% end %>
</div>

<div id="outline-turbo">
  <%= turbo_frame_tag :outline do %>
  <% end %>
</div>

<div id="outline-form">
  <%= form_with url: profile_families_outline_path,
                method: :post,
                html: { id: 'tree-interaction-form' },
                data: { controller: 'form', 'form-initial-submit-value': false,} do |form| %>
    <%= form.hidden_field :token, value: params[:token] %>
    <%= form.hidden_field :id, value: params[:profile_id] %>
    <%= form.hidden_field :outline_id, value: params[:profile_id], id: 'outline-id' %>
  <% end %>
</div>
