<div class="py-5">
  <div class="py-5 lg:pl-[10rem] md:pl-5 pl-5 px-5">
    <div class="text-left w-full lg:w-1/2">
      <div class="flex flex-wrap w-full h-auto">
        <h3 class="text-2xl"><%= t('.first_section.title') %></h3>
      </div>
      <p class="text-md"><%= t('.first_section.description') %></h2>
    </div>
  </div>

  <div class="py-5 lg:pl-[10rem] md:pl-5 pl-5 px-5 flex justify-end items-center">
    <div class="text-right w-full lg:w-2/3 pl-5 pr-0 lg:pl-0 lg:pr-[10rem]">
      <div class="flex flex-wrap w-full h-auto">
        <h3 class="text-2xl text-right"><%= t('.second_section.title') %></h3>
      </div>
      <p class="text-md"><%= t('.second_section.description') %></h2>
    </div>
  </div>
</div>

<div class="">
  <div class="bg-gray-200 md:h-40 h-80">
    <div class="mx-2 flex flex-col items-center justify-center text-center h-full">
      <h1 class="text-3xl"><%= t('.title1') %></h1>
      <br>
      <p class="text-xl"><%= t('.title2') %></h1>
    </div>
  </div>
  <%# <div class="wave-sample-footer-body">
    <div class="wave-sample-footer">
    </div>
  </div> %>
</div>

<div class="py-5 md:pl-5 pl-5 px-5">
  <div class="wrap-original-transform">
    <div class="original-transform">
      <div class="w-full h-auto p-2 pb-2 flex flex-col justify-center items-center">
        <div class="w-[600px] h-[500px] bg-cover bg-center bg-no-repeat" style="background-image: url(<%= image_path('screenshots/family-tree.png') %>)"></div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <%# <div class="wave-sample-header-body">
    <div class="wave-sample-header">
    </div>
  </div> %>
  <div class="bg-gray-200 md:h-40 h-80">
    <div class="mx-2 flex flex-col items-center justify-center text-center h-full">
      <h1 class="text-3xl"><%= t('.title3') %></h1>
      <br>
      <%= link_to new_user_registration_path do %>
        <p class="text-xl"><%= t('.title4') %></h1>
      <% end %>
    </div>
  </div>
  <%# <div class="wave-sample-footer-body">
    <div class="wave-sample-footer">
    </div>
  </div> %>
</div>

<div class="py-5 lg:pl-[10rem] md:pl-5 pl-5 px-5">
  <div class="flex flex-wrap w-full h-auto">
    <%= render 'card',
        svg_tag: 'couples',
        title: t('.card1_title'),
        description: t('.card1_text') %>
    <%= render 'card',
        svg_tag: 'handshake',
        title: t('.card2_title'),
        description: t('.card2_text') %>
  </div>
  <div class="flex flex-wrap w-full h-auto">
    <%= render 'card',
        svg_tag: 'families',
        title: t('.card3_title'),
        description: t('.card3_text') %>
    <%= render 'card',
        svg_tag: 'children',
        title: t('.card4_title'),
        description: t('.card4_text') %>
  </div>
</div>

<div class="">
  <%# <div class="wave-sample-header-body">
    <div class="wave-sample-header">
    </div>
  </div> %>
  <div class="bg-gray-200 md:h-40 h-80">
    <div class="mx-2 flex items-center justify-around text-center h-full">
      <%= link_to 'https://forms.gle/vnNXXZyyjGEV8Exe7', target:'_blank' do %>
        <p class="text-xl"><%= t('.title6') %></p>
      <% end %>
      <%= link_to 'https://twitter.com/phan_remy', target:'_blank' do %>
        <p class="text-xl"><%= t('.title5') %></p>
      <% end %>
    </div>
  </div>
  <%# <div class="wave-sample-footer-body">
    <div class="wave-sample-footer">
    </div>
  </div> %>
</div>


<%# <div class="py-5 lg:pl-[10rem] md:pl-5 pl-5 px-5">
  <%#= t('.contact')
</div> %>

<%# <div class="mt-5">
  <div class="wave-sample-header-body">
    <div class="wave-sample-header">
    </div>
  </div>
</div> %>
