<!DOCTYPE html>
<html>
  <head>
    <%#= favicon_link_tag %>
    <title>KITWE - Keep in touch with Everything and Everyone</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= TODO: make app less dependent to external libraries %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <%= javascript_importmap_tags %>

    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
  </head>
  <body class="bg-gray-200 lg:flex overflow-y-hidden">
    <div class="absolute bottom-0 right-0 mr-5 z-10">
      <%= turbo_frame_tag :flash do %>
        <%= render 'shared/flash' %>
      <% end %>
    </div>
    <%= render 'shared/navbar' %>
    <main class="w-full lg:mt-28 bg-white rounded lg:p-5 p-2 overflow-y-scroll h-[80vh] lg:h-[85vh]">
      <%= turbo_frame_tag :modal do %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
