<!DOCTYPE html>
<html>
  <head>
    <title>KITWE - Keep in touch with everything/everybody</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-200 lg:flex overflow-y-visible">
    <%= render 'shared/navbar' %>
    <main class="container mx-auto lg:mt-28 bg-white rounded p-5 overflow-y-scroll" style="height:80vh">
      <%= turbo_frame_tag 'flash' do %>
        <%= render 'shared/flash' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
